# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives__
- List popular languages used by Data Scientists 
- List commonly used libraries used by Data Scientists
- Create a single-column table
- Create examples of evaluating arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Julia
4. SQL

Some of the commonly used libraries used by Data Scientists include:

1. Numpy 
2. pandas 
3. tensorflow 
4. sciskit 
5. matplotlib

| Data Science Tools|
| ----------- |
| Jupyter Notebooks |
| RStudio |
| VS Code |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Cynthia